<Message::Avatar
  @title="{{@username}}'s avatar"
  {{!-- @initial={{substring @username 0 1}} --}}
  @initial={{substring @username start=0 end=1}}
  @isActive={{@userIsActive}}
  class="{{if @isCurrentUser "current-user"}}"
  @people={{@people}}
/>
<section>
  <Message::Username
    @name={{@username}}
    @localTime={{@userLocalTime}}
/>

  {{yield}}
</section>